* {
    box-sizing: border-box
}

body {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
#loading {
    font-size: 30px;
}

.card {
    flex: 0 0 30%;
    margin: 15px
}

.card-image {
    height: 300px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    min-height: 300px;
}

.card-content {
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .card {
        flex: 0 0 45%;
        margin: 15px;
    }
    .card-image {
        height: initial;
        min-height: initial;
    }
    .card-image img {
        width: 100%;
        min-height: initial;
    }
}

@media screen and (max-width: 1136px) {
    .card {
        flex: 0 0 90%;
        margin: 15px;
    }
    .card-image {
        height: initial;
        min-height: initial;
    }
    .card-image img {
        width: 100%;
        min-height: initial;
    }
}